@import "../../Styles/vars";

.admin-login{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .admin-login-container{
    .admin-titl{

    }
    .admin-description{
      display: flex;
      justify-content: center;
    }
  }
}

