@import "../../Styles/vars";

.registration-container{
  margin: 0 auto;
  margin-top: 15px;
  width: 750px;
  background: $prim_1 ;
  text-align: center;
  border: 2px solid $prim_2;
  border-radius: 10px;

    .registration-title{
      margin-top: 45px;
    }

    .term-cont-field{
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  
    .term-cont{
      font-size: 20px;
      margin-left: 10px;
      margin-top: 20px;
        &:hover {
          color: $blue_100;
        }
    }
    
    .response-field{
      color: $red_100;
      font-size: 19px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bolder;
    }
}



