@import "../../Styles/vars";


.page-cart-container{
  display: flex;
  text-align: start;
  padding-top: 11vh;
  background:$smoke_100;

  .page-cart-products{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width: 60%;
    margin: 0 30px;
    padding: 0 10px;
    .page-cart-order-title{
      font-size: 30px;
      font-weight: bold;
      font-family:Georgia, 'Times New Roman', Times, serif;
      color: $usual_700;
      margin-bottom: 15px;
    }
    .page-cart-products-title{
     font-size: large;
     font-weight: bold;
     color: $usual_500;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      
    }
    .page-cart-products-contain{
 

      .page-cart-product-container{
        border-bottom: 0.5px solid $usual_200;
         font-family:'Courier New', Courier, monospace;
         background-color: $usual_100;
         border-radius: 20px;
         margin: 15px auto;
        &:last-child {
          border-bottom: none;
        }
      
        .page-cart-product{
          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: row;
          height: 9rem;
          .page-cart-pizza-image{
           padding: 10px;
           margin: 10px;
           background-color: $smoke_100;
           border-radius: 20px;
            width: 160px;
          }
          .page-cart-short-details{
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 26px;
            margin: 10px;
            font-weight: bold;
            color: $usual_600;
            .page-cart-product-title{
              margin-bottom: 50px;
            }
            .page-cart-pieces-part{
              display: flex;
              justify-content: space-between;

              .page-cart-delete-button{
                margin-left: 15px;
                padding: 0 3px;
                box-shadow: 1px 2px 6px -3px;
                border-radius: 5px;
                text-align: center;
                &:hover{
                  background-color: $smoke_100;
                }
              }
              .page-cart-pieces-select{
                margin-left: 15px;             
                cursor: pointer;
                padding: 1px 6px;
                box-shadow: 1px 2px 6px -3px;
                border-radius: 5px;
                text-align: center;
                
                &:hover{
                  background-color: $smoke_100;
                }
              }
              .page-cart-pieces-number{
                cursor: initial;
                border: none;
                box-shadow: none;
                color: $usual_900;
                &:hover{
                  background-color: initial;
                }
              }
              .page-cart-product-price{
                color: $usual_700;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 27px;
              }
            }

          }

          .page-cart-delete-button{
            cursor: pointer;
          }
        }
      }
    }
    .page-cart-tableware{
      background-color: $usual_100;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      color: $usual_700;
     
     
    }
    .page-cart-tips{
      margin-top: 15px;
      background-color: $usual_100;
      border-radius: 10px;
      padding: 10px 10px;
     
    }
    .page-cart-mentions{
      margin-top: 15px;
      padding: 20px;
      background-color: $usual_100;
      border-radius: 10px;
      margin-bottom: 24vh; //provizoriu
     
    }
  }
}

@media screen and (max-width: 780px) { 

  .page-cart-container{
   display: flex;
   flex-direction: column;


    .page-cart-products{
      width: 100%;
      margin: 0;
      .page-cart-order-title{
   
      }
      .page-cart-products-title{
      
      }
      .page-cart-products-contain{
      
        .page-cart-product-container{
        
          .page-cart-product{
         
          }
        }
      }
      .page-cart-tableware{
        width: 100%;
      }
      .page-cart-tips{
       
      }
      .page-cart-mentions{
        border: none;
        margin-bottom: 10px;
        
      }
     
        .page-cart-button-contain{
         
          .page-cart-button{
            width: 100%;
            &:hover{
              width: 100%;
            }
        }
      }
    }
    .page-cart-summary-contain{
      margin: 10px ;
    }
  }
}