
$prim_1: #d2d5da1a;
$prim_2: #a9aeb833;

$usual_100: #fdfdfd;
$usual_200: #e1e1e1;
$usual_300: #c3c3c3;
$usual_400: #a8a8a8;
$usual_500: #8d8d8d;
$usual_600: #6d6d6d;
$usual_700: #4e4e4e;
$usual_800: #303030;
$usual_900: #000000;

$blue_100: #3e03ff;
$blue_200: #2a05a1;
$blue_300: #170063;

$red_100: #ff0606;
$red_200: #9b0e0e;
$red_300: #5d0101;

$yellow_100: yellow;
$yellow_200: rgba(255, 255, 0, 0.692);
$yellow_300: rgba(255, 255, 0, 0.474);

$orange_100:orange;
$orange_200:rgba(255, 166, 0, 0.669);
$orange_300:rgba(255, 166, 0, 0.445);