.button-field {
  border: 2px solid #a9aeb833;
  background-color:#a19f9f33 ;
  border-radius: 5px;
  padding: 25px 150px;
  cursor: pointer;
  font-size: 19px;
  margin-bottom: 20px;
  &:hover {
    transition: 0.5s ease;
    background: grey;
    color: white;
  }
}

.registre-button-disabled{
  border: 2px solid #a9aeb833;
  background-color:#c3c3c333 ;
  color: rgb(204, 204, 204);
  border-radius: 5px;
  padding: 25px 150px;
  cursor: pointer;
  font-size: 19px;
  margin-bottom: 20px;
}