@import "../Styles/vars";

.input-field {
  margin: 20px auto;
  border: 2px solid $prim_2;
  border-radius: 10px;
  padding: 2% 10%;
 
  font-size: 24px;
  text-align: center;
  cursor:pointer;
    &::placeholder{
      color: $usual_300;
      text-align: center;
    }
    &:hover{
      border: 2px solid $usual_300;
    }
}