
.registration-container{
  margin: 0 auto;
  margin-top: 15px;
  width: 750px;
  background: rgba(169,174,184,.1) ;
  text-align: center;
  border: 2px solid rgba(169,174,184,.2);
  border-radius: 10px;

    .registration-title{
      margin-top: 45px;
    }

    .term-cont-field{
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  
    .term-cont{
      font-size: 20px;
      margin-left: 10px;
      margin-top: 20px;
        &:hover {
          color: rgb(76, 76, 189);
        
        }
    }
    
    .response-field{
      color: red;
      font-size: 19px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bolder;
    }
}



