@import "../../Styles/vars";


.header-app-container{
  position: fixed;
  width: 100%;
  opacity: 0.8;
  .pages-container{
    display: none;
  }
  .header-container{
    background: $usual_800;
    display: flex;
    height: 9vh;
    color: $usual_100; 
    justify-content: end;
    align-items: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .header-title{
      margin-right: 39%;
      color: $orange_100;
      transition: 0.5s ease;
      cursor: pointer;
      font-family:cursive;
      &:hover{
        font-size: 33px;
        transition: 0.5s ease;
        color: $yellow_100;  
      }
    }
    .acces-header{
      width: 50%;
      display: flex;
      cursor: pointer;
      transition: 0.5s ease;
      text-align: center;
      font-size: 19px;
      animation-name: font;
      animation-duration: 0.3s;
      .page-header{ 
        margin:0 auto;
        padding: 1% 0;
        border-bottom: 2.5px solid transparent; 
        transition: 0.5s ease; 
        &:hover{     
           border-bottom: 2.5px solid $orange_200;
           transition: 0.5s ease;   
        } 
      }
    }
    .icon-menu{
     display: none;
    }
  }
  @keyframes font {
    from {
      font-size: 0;
    }
    to {
      font-size: 19px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .header-app-container{
    
    .header-container{
      justify-content: space-between;
      .acces-header{
        display: none;
      }
      .icon-menu{
        color: $usual_200;
        transition: 0.5s ease;
        display: flex;
        &:hover {
          transition: 0.5s ease;
        }
      }
    }
  .pages-container {
        display: inherit;
        color: $usual_200;
        background-color: $usual_800;
        width: 100%;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
        text-align: center;  
        cursor: pointer;  
      .page{
        padding: 15px;
        transition: 0.7s ease;
        border-top: 1px solid $usual_900;
        &:hover{
          background: $usual_700;
          transition: 0.5s ease;
        } 
      }     
    }
  }
} 

