@import "../../Styles/vars";

.order-summary-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: fixed;
    margin-left: 9%;
    margin-top: 10vh;
    .order-summary-title{
      font-size: 25px;
      padding: 10px;
      text-align: center;
      font-family:Georgia, 'Times New Roman', Times, serif;
      color: $usual_600;
    }
    .order_summary-details{
      border-radius: 10px;
      background-color: $usual_100;
      padding: 20px;
      &:hover{
        box-shadow: 0 0 4px -2px;
      }
      .order-summary{
        display: flex;
        flex-direction: row;
        margin:10px 5px;
        font-size: 21px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: $usual_500; 
        .order_summary-delivery-status{
          color: green;
          margin-left: 10px;
        }
        &:last-child {
          border-bottom: none;
        }
     }
  }
  .order_summary-button{
    background-color: $usual_100;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 11px -6px;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    transition: 0.5s ease;
    &:hover {
      transition: 0.5s;
      background: linear-gradient(to left,$orange_200  35%, $usual_800 70%) right;
      background-size: 200% 100%;
      color: $usual_900;
      transition: 0.5s ease; 
      box-shadow: 0 0px 20px 2px;  
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 780px) {
  .order-summary-container{
    position: initial;
    width: 100%;
    margin: 0;

    .order-summary-title{
      margin: 0;
    }
    .order-summary{
      margin: 0 ;
      padding: 0;
    }
}
}
