@import "../../Styles/vars";

.product-control-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
 
  text-align: center;
  .product-control-buttons{
    margin: 0 auto;
    width: 700px;
    .product-subtitle{
      margin-bottom: 5%;
    }
  }
}

.add-product-container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  .add-product-details{
    margin: 0 auto;
     width: 80%;
    .add-product-title{
      margin-top: 7%;
    }   
  }
}

.admin-delete{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: start;
  .admin-delete-container{
    margin: 0 auto;
    width: 80%; 
    .admin-delete-title{
      margin: 10% 0;
    }
    .admin-delete-product{
      //  box-shadow: 3px 6px 17px  ;
      border: 0.5px solid $usual_600;
      border-radius: 10px;
      margin-bottom: 3%;
      padding: 3% 0;
      .edit-button{
        margin-right: 1%;
      }
      .date-delete{
        margin-right: 2%;
      }
    }
  }
}