.home-container{
  margin: 0 auto;
  height: 200vh;
  .home-image{
 
    height: 100vh;
    background-image: url("../../Images/pizza6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top ;
 
  }

}