@import "../../Styles/vars";

.notfound-container{
  position: fixed;
  background-color: $usual_200;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 200%;
}